* {
  padding: 0;
  text-align: center;
}

#ancre {
  position: relative;
  top: -100px;
}

.container {
  margin: 0;
}

.first-block-img-para {
  margin-top: 2%;
  margin-bottom: 5%;
}

.block-img-para {
  display: flex;
  margin-top: 2%;
  margin-bottom: 5%;
}

.h1activite {
  font-family: 'Francois One', sans-serif;
}

.block-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 3%;
}

.Activites{
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid';
  padding-top: 3%;
  background-repeat: no-repeat;
  margin-bottom: 6%;
}

.Activiteselect {
  border: 1px solid #009378;
  border-radius: 30px;
  margin: auto;
  margin-top: 1%;
}

.textactivites {
  margin: auto!important;
}

.card-activite {
  border: 1px solid #c8ced2;
  margin: 2%;
  width: 25%;
  border-radius: 15px;
  height: 550px;
  box-shadow: 6px 5px 5px #f1eeee;
  height: 630px;
}

.card-activite p {
  margin: 7%;
  text-align: start;
  color: #9199a1;
  text-align: justify;
  font-family: 'Francois One', sans-serif;
}
  
.Activiteselect button {
  color: #344454;
  padding-left: 2%;
  padding-right: 2%;
  font-family: 'Francois One', sans-serif;
  font-size: 1.5rem;
  border: none;
  font-weight: 100;
}

.Activites-content {
  width: 67%;
  margin: auto;
  border: 1px solid #d0c6c68c;
  background-color: white;
  margin-bottom: 5%;
  border-radius: 30px;
  padding: 2%;
  box-shadow: 0 0 10px #acb9bf96;
  position: relative;
  top: -25px;
}

/* ---------- Trait de séparation ligne + rond ---------- */

.trait
{
  width: 30%;
  height: 1px;
  background-color: rgba(0,0,0,0.3);
  margin: auto;
}

.rond_bleu
{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #EFB960;;
  margin: auto;
  position: relative;
  bottom: 13px;
  border: 3px white solid;
}

/* ---------- End ---------- */
  
.Activiteselect button.active {
  border-radius: 30px;
  background-color: #009378;
}
  
.Activiteselect button:focus {
  outline: none;
}

.parcour-titre {
  margin: 7%;
  text-align: center;
  font-weight: bold;
  font-size: 17px;
  font-family: 'Luckiest Guy', cursive;
  color: #3b3b44e0;

}

.photoactivite{
  height: 28rem!important;
  margin: auto;
  padding: 3%;
  width: 97%!important;
  border-radius: 47px;
}

.photo-card {
  width: 100%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 38%;
}

.textactivites{
  margin: auto;
}

@media screen and (max-width: 1280px) {
  .Activiteselect {
    width: 440px;
  }
  .textback{
    width: 540px
  }
  .photoactivite{
    width: 540px;
  }
}

@media screen and (max-width: 986px) {
  .Activiteselect {
    width: 340px;
  }
  .textback{
    width: 340px
  }
  .photoactivite{
    width: 340px;
  }
}

@media screen and (max-width: 606px) {
  .Activiteselect {
    width: 240px;
  }
  .textback{
    width: 240px
  }
  .photoactivite{
    width: 240px;
  }
}

@media screen and (max-width: 410px) {
  .Activiteselect {
    width: 240px;
  }
  .textback{
    width: 240px
  }
}

@media screen and (max-width: 1560px) {
  .Activites{
    background-image: none;
  }
}