.block-img-text {
  display: flex;
}

.img-buvette {
  width: 45%;
  height: 50vh;
  padding: 10px;
  object-fit: cover;
}

.para-buvette {
  padding: 10px;
  font-size: 20px;
  width: 80%;
  margin: auto;
  color: #0e0e0ead;
}