.pagesBody {
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Londrina Solid';
    padding-top: 3%;
    background-repeat: no-repeat;
    padding-bottom: 6%;
    background-color: #eef1f3;
}

.pagesContent {
    width: 85%;
    margin: auto;
    border: 1px solid #d0c6c68c;
    background-color: white;
    margin-top: 2%;
    border-radius: 3px;
    padding: 2%;
    font-family: 'Roboto'
}

.tableau-reglement {
    width: 100%;
    padding: 2%;
    margin-bottom: 3%;
    margin-top: 3%;
  }
  
  .td-reglement {
    padding: 1%;
    width: 11%;
  }
  
  .th-reglement {
    border: solid 1px black;
    margin: auto;
      color: #0e0e0ead;
      font-family: 'Boogaloo', cursive;
      padding: 1%;
  }
  
  table th {
    border: solid 1px black;
    margin: auto;
    color: #0e0e0ead;
    font-family: 'Boogaloo', cursive;
    padding: 1%;
  }
  
  .para-reglement {
    text-align: left;
    font-size: 20px;
    color: #0e0e0ead;
    font-family: 'Boogaloo', cursive;
    font-weight: lighter;
  }
  
  span {
    font-weight: bold;
  }
  
  .title-reglement {
    margin-bottom: 2%;
    color: #ca9669;
    font-family: 'Boogaloo', cursive;
    margin-top: 3%;
    text-transform: uppercase;
  }
  
  