.pagesBody {
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Londrina Solid';
    padding-top: 3%;
    background-repeat: no-repeat;
    padding-bottom: 6%;
    background-color: #eef1f3;
}

.pagesContent {
    width: 85%;
    margin: auto;
    border: 1px solid #d0c6c68c;
    background-color: white;
    margin-top: 2%;
    border-radius: 3px;
    padding: 2%;
    font-family: 'Roboto'
}