.background-color {
  background-color: rgb(53, 55, 70);
}

.background-color a {
  color: white;
  text-decoration: none;
  margin: 0;
}

.background-color a p {
  margin: 0;
  display: inline;
  padding: 0 5px;
}
@media screen and (max-width: 550px) {
.background-color {
  font-size: 12px;
}
}