.block-park {
  font-family: 'Francois One', sans-serif;
}

.titles{
    padding: 3% 0;
    text-align: center;
  }

.img-fluid {
    padding: 15px;
}

.parc-layout{
    padding: 30px;
}

@media screen and (max-width: 1280px) {
    .textback{
      width: 540px
    }
  }
  @media screen and (max-width: 986px) {
    .textback{
      width: 340px
    }
  }
  
  @media screen and (max-width: 606px) {
    .textback{
      width: 240px
    }
  }
  @media screen and (max-width: 410px) {
    .textback{
      width: 240px
    }
  }