.block-park {
  font-family: 'Francois One', sans-serif;
}

.block-img-text-buvette {
  display: flex;
}

.text-parc-buvette {
  width: 40%;
  padding: 2%;
  margin: auto;
  color: #344454;
  font-family: 'Boogaloo', cursive;
}

.img-buvette {
  width: 40%;
  margin: auto;
  padding: 2%;
}

#ancre-engagement {
  position: relative;
  top: -170px;
}

#ancre-plan {
  position: relative;
  top: -170px;
}

.titles{
    padding: 3% 0;
    text-align: center;
  }

.img-fluid {
    padding: 15px;
}

.parc-layout{
  padding: 10px;
}

#ancre-buvette {
  position: relative;
  top: -170px;
}

.text-parc {
  font-size: 20px;
    width: 80%;
    margin: auto;
    color: #344454;
    font-family: 'Boogaloo', cursive;
    padding-top: 2%;
}

@media screen and (max-width: 1280px) {
    .textback{
      width: 540px
    }
  }
  @media screen and (max-width: 986px) {
    .textback{
      width: 340px
    }
  }
  
  @media screen and (max-width: 606px) {
    .textback{
      width: 240px
    }
  }
  @media screen and (max-width: 410px) {
    .textback{
      width: 240px
    }
  }