.block-park {
  font-family: 'Francois One', sans-serif;
  white-space: pre-line;
}

.block-img-text-buvette {
  display: flex;
}

.text-parc-buvette {
  width: 45%;
  color: #45475d;
  margin: auto;
}

.img-buvette {
  width: 40%;
  margin: auto;
  padding: 2%;
}

#ancre-engagement {
  position: relative;
  top: -170px;
}

#ancre-plan {
  position: relative;
  top: -170px;
}

.titles{
    padding: 3% 0;
    text-align: center;
    margin-bottom: 2%;
    color: #ca9669;
    font-family: "Boogaloo",cursive;
  }

.img-fluid {
    padding: 15px;
}

.parc-layout{
  padding: 10px;
}

#ancre-buvette {
  position: relative;
  top: -170px;
}

.text-parc {
  position: relative;
  top: -2px;
  width: 80%;
  color: #45475d;
  margin: auto;
  padding: 3%;
}

@media screen and (max-width: 1280px) {
    .textback{
      width: 540px
    }
  }
  @media screen and (max-width: 986px) {
    .textback{
      width: 340px
    }
  }
  
  @media screen and (max-width: 606px) {
    .textback{
      width: 240px
    }
  }
  @media screen and (max-width: 410px) {
    .textback{
      width: 240px
    }
  }