* {
    padding: 0;
    text-align: center;
  }
  
.card-event {
  display: flex;
  padding-bottom: 2%;
}

.photo-card-event {
  width: 40%;
  padding: 2%;
  margin: auto;
  object-fit: cover;
}

.title-event-page {
  margin-bottom: 2%;
  color: #ca9669;
  font-family: "Boogaloo",cursive;
}

.para-event-page {
  text-align: left;
  padding-top: 5%;
  padding-left: 1%;
  position: relative;
  top: -2px;
  width: 100%;
  color: #45475d;
  white-space: pre-line;
}

.block-title-para-event {
  width: 40%;
  padding: 2%;
  margin: auto;
  white-space: pre-line;
}

.Activites{
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid';
  padding-top: 3%;
  background-repeat: no-repeat;
  background-color: #eef1f3;
}
  
.textactivites {
  font-weight: 100;
    font-family: 'Roboto';
    font-size: 18px;
    color: #45475d;
}
    
.Activiteselect button.active {
  border-radius: 30px;
  background-color: #009378;
}
    
.Activiteselect button:focus {
  outline: none;
}
  
.photoactivite{
  height: auto;
  width: 700px;
  border-radius: 30px 30px 30px 30px;
  margin: auto;
  padding: 3%;
  width: 50%!important;
  object-fit: cover;
}

@media screen and (max-width: 1280px) {
  .Activiteselect {
    width: 440px;
  }
  .textback{
    width: 540px
  }
  .photoactivite{
    width: 540px;
  }
}

@media screen and (max-width: 986px) {
  .Activiteselect {
    width: 340px;
  }
  .textback{
    width: 340px
  }
  .photoactivite{
    width: 340px;
  }
}

@media screen and (max-width: 606px) {
  .Activiteselect {
    width: 240px;
  }
  .textback{
    width: 240px
  }
  .photoactivite{
    width: 240px;
  }
}

@media screen and (max-width: 410px) {
  .Activiteselect {
    width: 240px;
  }
  .textback{
    width: 240px
  }
}

@media screen and (max-width: 1560px) {
  .Activites{
    background-image: none;
    background-color: #eef0f1;
  }
}

@media all and (max-device-width: 480px) {
  .photoactivite {
    width: 100%!important;
    height: 50%!important;
    object-fit: cover;
}

.textactivites {
  font-size: 12px;
  padding-top: 6%;
  padding-bottom: 6%;
  }
}