.block-activite {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 80%;
}

.block-number-activite {
  display: flex;
  justify-content: center;
}

.block-number-activite p {
  padding-right: 3%;
  padding-left: 3%;
}

.activitie {
  padding-left: 30px;
  padding-right: 30px;
}

.price {
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  width: 20%;
  font-size: 12px;
}

.menu {
  height: 36px;
  margin: auto;
  padding: 1%;
  font-size: 12px;
  color: #45475d;
}

.block-title-activite-description {
  width: 37%;
  font-size: 12px;
}

.block-activite-total {
  display: flex;
  width: 100%;
  margin: auto;
}

.block-total {
  width: 30%;
  background-color: antiquewhite;
}

.block-total input {
  width: 100%;
}

.title-reservation {
  margin-bottom: 4%;
  margin-top: 4%;
  color: #ca9669;
  font-family: "Boogaloo",cursive;
}

.title-page-reservation {
  font-family: "Luckiest Guy",cursive;
  color: #4fa582;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  margin-top: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 0;
  width: 80%;
  border-top: 1px solid rgb(90 86 86 / 60%);
}

.block-arrow-instruction {
  display: flex;
}

.reservation-instructions {
  text-align: left;
  padding-left: 1%;
  position: relative;
  top: -2px;
  width: 100%;
  color: #45475d;
}

.button-contact {
  background-color: #e0af5d;
  border: none;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: .4s;
  text-transform: uppercase;
  font-family: "Boogaloo",cursive;
}

.button-contact a {
  color: white;
}

.block-information-to-know {
  padding-top: 3%;
  padding-bottom: 4%;
}

.information-to-know-title {
  margin-bottom: 3%;
  font-family: "Boogaloo",cursive;
  text-align: left;
  color: #45475d;
  font-size: 26px;
}

.block-covid-information {
  width: 80%;
  margin: auto;
  padding: 2%;
}

.block-covid-information p {
  color: #de1f1fd4;
  font-weight: 500;
}

.title-reservation-now {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  padding-bottom: 7%;
}

.title-activitie {
  color: #45475d;
}

hr {
  border: none;
  color: #333;
  overflow: visible;
  text-align: center;
  height: 5px;
}

.your-selection {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 22px;
  padding-top: 4%;
}

.block-activity-selected {
  display: flex;
  padding-left: 12%;
}

.number-selected-activity {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 18px;
  padding-right: 5%;
}

.item-activity {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 18px;
}

.total-basket {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 18px;
}

.title-information-reservation {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 22px;
  padding-top: 15%;
}

.validation-reservation-button {
  margin-top: 12%;
  background-color: #e0af5d;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
  font-size: 16px;
  transition-duration: .4s;
  text-transform: uppercase;
  font-family: "Boogaloo",cursive;
}

label { 
  vertical-align: middle;
  height: 50px;
  width: 80%;
  margin: auto;
  text-align: initial;
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 18px;
}

input {
  overflow: visible;
  margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	zoom: 1;
	vertical-align: middle;
}

.react-calendar {
  width: 341px!important;
  margin-top: 2%!important;
  margin-left: auto!important;
  margin-right: auto!important;
  padding-top: 2%!important;
  max-width: 80%!important;
  background: white!important;
  border: 1px solid #a0a096!important;
  font-family: Arial, Helvetica, sans-serif!important;
  line-height: 1.125em!important;
}

.reservation-date-selection {
  font-family: "Boogaloo",cursive;
  color: #45475d;
  font-size: 18px;
  text-align: initial;
  padding-left: 11%;
  padding-top: 3%;
}

.block-activite-terrasse {
  margin: auto;
}