.block-activite {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  width: 80%;
}

.block-number-activite {
  display: flex;
  justify-content: center;
}

.block-number-activite p {
  padding-right: 3%;
  padding-left: 3%;
}

.activitie {
  padding-left: 30px;
  padding-right: 30px;
}

.price {
  padding-left: 30px;
  padding-right: 30px;
  margin: auto;
  width: 20%;
  font-size: 12px;
}

.menu {
  height: 36px;
  margin: auto;
  padding: 1%;
  font-size: 12px;
}

.block-title-activite-description {
  width: 37%;
  font-size: 12px;
}

.block-activite-total {
  display: flex;
  width: 82%;
  margin: auto;
}

.block-total {
  width: 30%;
  background-color: antiquewhite;
}

.title-reservation {
  margin-bottom: 4%;
  color: #ca9669;
  font-family: "Boogaloo",cursive;
}

.title-page-reservation {
  font-family: "Luckiest Guy",cursive;
  color: #4fa582;
  padding-top: 1%;
  padding-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  margin-top: 1rem;
  margin: auto;
  margin-bottom: 1rem;
  border: 0;
  width: 80%;
  border-top: 1px solid rgb(90 86 86 / 60%);
}