.modal-header {
    background-color: rgb(73, 143, 32);
    color: white;
}

.btn-info {
    color: #fff;
    background-color: #88a9b5!important;
}

.modal-wrapper {
    width: 750px;
    margin-left: 20%;
    transition: all 1.3s ease;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, .25);
}

.modal-close-btn {
    background-color: #EFB960;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

.back-drop {
    background: rgba(63, 61, 61, 0.692);
    height: 100%;
    position: fixed;
    transition: all 1.3s;
    width: 100%;
  }
