.carousel {
  z-index: 1;
}

.block-caroussel {
  margin-top: 4.5%;
}

.title-carousel-home {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #5f8e61;
}

.carousel-caption {
  font-family: 'Luckiest Guy', cursive;
}

.carousel .carousel-control-prev-icon {
  background-size: 106px;
}

.carousel .carousel-control-next-icon {
  background-size: 106px;
}

.carousel .carousel-control-next-icon {
  width: 50px!important;
  height: 65px!important;
}

.carousel .carousel-control-prev-icon {
  width: 50px!important;
  height: 65px!important;
}

.h3-responsive {
  font-size: 4rem!important;
}

