.carousel {
    margin-top: 3%;
    margin-bottom: 3%;
}

.button {
    position: relative;
    bottom: -25px;
}

.home-para {
    font-size: 24px;
    padding-bottom: 6%;
}

.test-button {
    position: relative;
    top: -51px;
}

.home-event-para {
    font-size: 24px;
}