table, tr, td {
  border: solid 1px black;
}

#ancre-tarifs {
  position: relative;
  top: -200px;
}

table {
  margin: auto;
  width: 70%;
}

.head-title {
  font-weight: bold;
}

.para-tarifs {
  font-size: 20px;
  width: 80%;
  margin: auto;
  color: #344454;
  font-family: 'Boogaloo', cursive;
  white-space: pre-line;
}

.title-tarif {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #4fa582;
  padding-top: 3%;
  padding-bottom: 3%;
  white-space: pre-line;
}

.secondary-title {
  margin-bottom: 2%;
  color: #ca9669;
  font-family: 'Boogaloo', cursive;
  margin-top: 3%;
  text-transform: uppercase;
  white-space: pre-line;
}

.tarifs-select {
  border: 1px solid;
  margin: auto;
  width: 25%;
  position: relative;
  border-radius: 30px;
  top: -34px;
  background-color: white;
  padding: 1%;
  z-index: 200;
  white-space: pre-line;
}

p{
  white-space: pre-line;
}

table td {
  font-size: 20px;
    width: 80%;
    margin: auto;
    color: #344454;
    font-family: 'Boogaloo', cursive;
}

table {
  border-radius: 50px;
}

@media all and (max-device-width: 480px) {
  .title-tarif {
    font-size: 24px;
    padding-top: 12%!important;
  }

  .tarifs-select {
    width: 78%;
    position: relative;
    top: -60px;
  }

  .secondary-title {
    font-size: 18px;
    padding-bottom: 9%;
    padding-top: 2%;
  }
}