table, tr, td {
  border: solid 1px black;
}

#ancre-tarifs {
  position: relative;
  top: -200px;
}

table {
  margin: auto;
  width: 70%;
}

.head-title {
  font-weight: bold;
}

.tarif-page {
  background-color: #eef1f3;
}

.para-tarifs {
  font-size: 20px;
  width: 80%;
  margin: auto;
  color: #0e0e0ead;
  font-family: 'Boogaloo', cursive;
}

.block-page-tarif {
  background-size: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Londrina Solid';
  padding-top: 3%;
  padding-bottom: 4%;
  background-repeat: no-repeat;
}

.title-tarif {
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #5f8e61;
  padding-top: 3%;
  padding-bottom: 3%;
}

.secondary-title {
  margin-bottom: 2%;
  color: #ca9669;
  font-family: 'Boogaloo', cursive;
  margin-top: 3%;
  text-transform: uppercase;
}

.tarifs-select {
  border: 1px solid;
  border-radius: 30px;
  margin: auto;
  margin-top: 1%;
  width: 25%;
  background-color: white;
  position: relative;
  top: -83px;
  padding: 0.5%;
}

table td {
  font-size: 20px;
    width: 80%;
    margin: auto;
    color: #0e0e0ead;
    font-family: 'Boogaloo', cursive;
}

table {
  border-radius: 50px;
}