.footer-container {
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../Home/ImgHome/depositphotos_7492310-stock-photo-old-wood.jpg);
    color: white;
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 100%;
    position: relative;
}

.footer-column {
    list-style: none;
    align-content: left;
}

.footer-ul {
    list-style: none;
    justify-content: left;
    line-height: 35px;
}

.footer-facebook {
    height: 30px;
    width: 30px;
    color: blue;
}

.footer-instagram {
    height: 30px;
    width: 30px;
    color: purple;
}