.background-page-find-us {
  padding-bottom: 4%;
  padding-top: 4%;
  background-color: #f3f4f5;
}

#ancre-plan-acces-park {
  position: relative;
  top: -90px;
}

.text-map{
  text-align: left;
  padding-left: 1%;
  position: relative;
  top: -2px;
  width: 100%;
  color: #45475d;
}

.img-fluid {
    padding: 15px;
}

.map-layout{
    padding: 30px;
}

.text-map-introduction {
  
}

@media screen and (max-width: 1280px) {
    .textback{
      width: 540px
    }
  }
  @media screen and (max-width: 986px) {
    .textback{
      width: 340px
    }
  }
  
  @media screen and (max-width: 606px) {
    .textback{
      width: 240px
    }
  }
  @media screen and (max-width: 410px) {
    .textback{
      width: 240px
    }
  }
