.titles{
    padding: 3% 0;
  }

.text-map{
    margin: auto;
    color: #8B4513;
}

.img-fluid {
    padding: 15px;
}

.map-layout{
    padding: 30px;
}

@media screen and (max-width: 1280px) {
    .textback{
      width: 540px
    }
  }
  @media screen and (max-width: 986px) {
    .textback{
      width: 340px
    }
  }
  
  @media screen and (max-width: 606px) {
    .textback{
      width: 240px
    }
  }
  @media screen and (max-width: 410px) {
    .textback{
      width: 240px
    }
  }

  .mapBody {
    background-size: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Londrina Solid';
    padding-top: 3%;
    background-repeat: no-repeat;
    padding-bottom: 6%;
    background-color: #eef1f3;
  }

  .mapContent {
    width: 85%;
  margin: auto;
  border: 1px solid #d0c6c68c;
  background-color: white;
  margin-top: 2%;
  border-radius: 3px;
  padding: 2%;
  white-space: pre-line;
  }